.gallery__grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    figure:nth-child(even) {
        margin-top: 4rem;
        margin-left: 0rem;
    }

    figure:nth-child(odd) {
        margin-left: 1rem;
    }

    /* bill */
    figure:nth-of-type(1) {

    p {
        top: 10%;
        right: -37%;
    }

    .gallery-item__find-out-more {
        position: absolute;
        opacity: 0;
        left: 12%;
        top: 40%;
        border: 1px solid black;
        width: fit-content;
        padding: 2% 10%;
        font-weight: 500;
        color: black;
        background-color: rgb(107, 142, 35, .5);
        text-transform: uppercase;
        font-size: .6rem;
        color: white;
    }

    &:hover {
    color: rgb(107, 142, 35); 

        p {
            top: 5.5%;
            right: -45%;
            transition: all ease .5s;
        }

        figcaption {
            padding-top: 9%;
        }

        img {
            transform: scale(1.1);
            box-shadow: 5px 5px 5px black;
            transition: all ease .5s;
            opacity: 0.4;
        }

        .gallery-item__find-out-more {
            opacity: 1;
            top: 29%;
            left: 12%;
            box-shadow: 2px 2px 6px black;
        }

        a {
            cursor: pointer;
            text-decoration: none;
        }

        }

        a:active {
           opacity: 0;
        }

        a:visited {
            color: white;
        }

        .gallery-item__find-out-more:hover {
            box-shadow: 5px 5px 5px black;
            transition: all ease-in-out .2s;
        }
    }
  
    /* saba */   
    figure:nth-of-type(2) {

        p {
        top: 9%;
        right: -31.5%;
        }

        .gallery-item__find-out-more {
            position: absolute;
            opacity: 0;
            left: 12%;
            top: 40%;
            border: 1px solid black;
            width: fit-content;
            padding: 2% 10%;
            font-weight: 500;
            color: black;
            background-color: rgb(107, 142, 35, .5);
            text-transform: uppercase;
            font-size: .6rem;
            color: white;
        }
        
        &:hover {
            color: olivedrab; 
                p {
                    top: 5.5%;
                    right: -40%;
                    transition: all ease .5s;
                }

                figcaption {
                    padding-top: 9%;
                }

                img {
                    transform: scale(1.1);
                    box-shadow: 5px 5px 5px black;
                    transition: all ease .5s;
                    opacity: 0.4;
                }

                .gallery-item__find-out-more {
                    opacity: 1;
                    top: 34%;
                    left: 12%;
                    box-shadow: 2px 2px 6px black;
                }
        
                a {
                    cursor: pointer;
                    text-decoration: none;
                }
                }
        
                a:active {
                   opacity: 0;
                }
        
                a:visited {
                    color: white;
                }
        
                .gallery-item__find-out-more:hover {
                    box-shadow: 5px 5px 5px black;
                    transition: all ease-in-out .2s;
                }
            }

    /* shae */
    figure:nth-of-type(3) {

        p {
            top: 5%;
            right: -25%;
        }

        .gallery-item__find-out-more {
            position: absolute;
            opacity: 0;
            left: 12%;
            top: 40%;
            border: 1px solid black;
            width: fit-content;
            padding: 2% 10%;
            font-weight: 500;
            color: black;
            background-color: rgb(107, 142, 35, .5);
            text-transform: uppercase;
            font-size: .6rem;
            color: white;
        }

        &:hover {
            color: olivedrab; 

                p {
                    top: 0%;
                    right: -34%;
                    transition: all ease .5s;
                }

                figcaption {
                    padding-top: 9%;
                }

                img {
                    transform: scale(1.1);
                    box-shadow: 5px 5px 5px black;
                    transition: all ease .5s;
                    opacity: .5;
                }

                .gallery-item__find-out-more {
                    opacity: 1;
                    top: 29%;
                    left: 12%;
                    box-shadow: 2px 2px 6px black;
                }
        
                a {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            a:active {
                opacity: 0;
             }
     
             a:visited {
                 color: white;
             }
     
             .gallery-item__find-out-more:hover {
                 box-shadow: 5px 5px 5px black;
                 transition: all ease-in-out .2s;
             }
    }

    /* skylah */
    figure:nth-of-type(4) {
        p {
            top: 7%;
            right: -28.5%;  
        }

        .gallery-item__find-out-more {
            position: absolute;
            opacity: 0;
            left: 12%;
            top: 40%;
            border: 1px solid black;
            width: fit-content;
            padding: 2% 10%;
            font-weight: 500;
            color: black;
            background-color: rgb(107, 142, 35, .5);
            text-transform: uppercase;
            font-size: .6rem;
            color: white;
        }

        &:hover {
            color: olivedrab; 
                p {
                    top: 3%;
                    right: -37%;
                    transition: all ease .5s;
                }

                figcaption {
                    padding-top: 9%;
                }

                img {
                    transform: scale(1.1);
                    box-shadow: 5px 5px 5px black;
                    transition: all ease .5s;
                    opacity: .5;
                }

                .gallery-item__find-out-more {
                    opacity: 1;
                    top: 33%;
                    left: 12%;
                    box-shadow: 2px 2px 6px black;
                }
        
                a {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            a:active {
                opacity: 0;
             }
     
             a:visited {
                 color: white;
             }
     
             .gallery-item__find-out-more:hover {
                 box-shadow: 5px 5px 5px black;
                 transition: all ease-in-out .2s;
             } 
    }

    /* griff */
    figure:nth-of-type(5) {
        p {
            top: 5%;
            right: -26%;
        }

        .gallery-item__find-out-more {
            position: absolute;
            opacity: 0;
            left: 12%;
            top: 40%;
            border: 1px solid black;
            width: fit-content;
            padding: 2% 10%;
            font-weight: 500;
            color: black;
            background-color: rgb(107, 142, 35, .5);
            text-transform: uppercase;
            font-size: .6rem;
            color: white;
        }

        &:hover {
            color: olivedrab; 
                p {
                    top: 3%;
                    right: -36%;
                    transition: all ease .5s;
                }

                figcaption {
                    padding-top: 9%;
                }

                img {
                    transform: scale(1.1);
                    box-shadow: 5px 5px 5px black;
                    transition: all ease .5s;
                    opacity: .5;
                }

                
                .gallery-item__find-out-more {
                    opacity: 1;
                    top: 26%;
                    left: 12%;
                    box-shadow: 2px 2px 6px black;
                }

                a {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            a:active {
                opacity: 0;
             }
     
             a:visited {
                 color: white;
             }
     
             .gallery-item__find-out-more:hover {
                 box-shadow: 5px 5px 5px black;
                 transition: all ease-in-out .2s;
             }
    }

    /* stan */
    figure:nth-of-type(6) {
        p {
            top: 5%;
            right: -26%;
        }

        .gallery-item__find-out-more {
                    position: absolute;
                    opacity: 0;
                    left: 12%;
                    top: 40%;
                    border: 1px solid black;
                    width: fit-content;
                    padding: 2% 10%;
                    font-weight: 500;
                    color: black;
                    background-color: rgb(107, 142, 35, .5);
                    text-transform: uppercase;
                    font-size: .6rem;
                    color: white;
                }

        &:hover {
            color: olivedrab; 
                p {
                    top: 3%;
                    right: -36%;
                    transition: all ease .5s;
                }

                figcaption {
                    padding-top: 9%;
                }

                img {
                    transform: scale(1.1);
                    box-shadow: 5px 5px 5px black;
                    transition: all ease .5s;
                    opacity: .5;
                }

                .gallery-item__find-out-more {
                    opacity: 1;
                    top: 33%;
                    left: 12%;
                    box-shadow: 2px 2px 6px black;
                }
        
                a {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            a:active {
                opacity: 0;
             }
     
             a:visited {
                 color: white;
             }
     
             .gallery-item__find-out-more:hover {
                 box-shadow: 5px 5px 5px black;
                 transition: all ease-in-out .2s;
             }
    }
}

.gallery-item__container {
    position: relative;
    width: fit-content;

    /* shared styles */
    &--job-title:nth-of-type(1) {
        position: absolute;
        top: 4.2%;
        transform: rotate(90deg);
    }
    
    &--image {
        height: 12.5rem;
        width: 8.4rem;
        object-fit: cover;
    }
}

.footer__container {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 400px) {
  .gallery__grid-container {
    figure:nth-child(odd) {
        margin-left: 2rem;
    }
  }

  .gallery-item__container {
    &--image {
        height: 14rem;
        width: 9rem;
        object-fit: cover;
    }
}
}

@media screen and (min-width: 480px) {
    .gallery__grid-container {
        figure:nth-child(odd) {
            margin-left: 2.6rem;
        }

        figure:nth-child(even) {
            margin-top: 4rem;
            margin-left: 1.8rem;
        }

        /* bill */
        figure:nth-of-type(1) {
            .gallery-item__find-out-more {
                left: 14%;
                padding: 3% 10%;
                font-size: .7rem;
            }

            &:hover {
                figcaption {
                    transition: all ease .5s;
                }
            }
        }
        
        /* saba */
        figure:nth-of-type(2) {
            .gallery-item__find-out-more {
                top: 50%;
                padding: 3% 10%;
                font-size: .7rem;
            }

            &:hover {  
                figcaption {
                    transition: all ease .5s;
                }
            }
        }
       
        /* shae */
        figure:nth-of-type(3) {
            .gallery-item__find-out-more {
                opacity: 0;
                top: 50%;
                padding: 3% 10%;
                font-size: .7rem;
            }
            
            &:hover {
                figcaption {
                    transition: all ease .5s;
                }
            }
        }
        
        /* skylah */
        figure:nth-of-type(4) {
            .gallery-item__find-out-more {
                top: 50%;
                padding: 3% 10%;
                font-size: .7rem;
            }
            
            &:hover {
                figcaption {
                    transition: all ease .5s;
                }
            }
        }
        
        /* griff */
        figure:nth-of-type(5) {
            .gallery-item__find-out-more {
                top: 50%;
                padding: 3% 10%;
                font-size: .7rem;
            }
            
            &:hover {
                figcaption {
                    transition: all ease .5s;
                }
            }
        }
       
        /* stan */
        figure:nth-of-type(6) {
            .gallery-item__find-out-more {
                top: 50%;
                padding: 3% 10%;
                font-size: .7rem;
            }
            
            &:hover {
                figcaption {
                    transition: all ease .5s;
                }
            }
        }
      }
    
      .gallery-item__container {
        &--image {
            height: 15rem;
            width: 10rem;
            object-fit: cover;
        }
        
    }
}

@media screen and (min-width: 700px) {
    .gallery__grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: .6rem;

        figure:nth-child(odd) {
            margin-left: 1.8rem;
        }

        /* saba */
        figure:nth-of-type(2) {
            margin-top: 38%;
        }
       
        /* skylah */
        figure:nth-of-type(4) {
            margin-top: 6%;
            &:hover {
                .gallery-item__find-out-more {
                    top: 27%;
                }
            }
        }

        /* griff */
        figure:nth-of-type(5) {
            margin-top: 38%;
            &:hover {
                .gallery-item__find-out-more {
                    top: 34%;
                }
            }
        }

        /* stan */
        figure:nth-of-type(6) {
            margin-top: 6%;
            &:hover {
                .gallery-item__find-out-more {
                    top: 27%;
                }
            }
        }
    }
}

@media screen and  (min-width: 1200px) {
    header {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end; 
        margin-top: 6%;
        margin-bottom: 3%;

        .header-h1-container {
            align-self: flex-start;
             h1 {
                margin-top: 4%;
             }
        }
    }
    .header-who-we-are-container {
        width: 29vw;
    }

    .gallery-item__container {
        &--image {
            height: 19rem;
            width: 13rem;
        }
    }

    .gallery__grid-container {
        margin-left: 12rem;    
        width: 75%;

    /* bill */
    figure:nth-of-type(1) {

        p {
            top: 6.5%;
            right: -30%;
        }

        .gallery-item__find-out-more {
            left: 19%;
            padding: 3% 10%;
            font-size: .7rem;
        }

        &:hover {
            p {
                top: 4%;
                right: -38%;
            }

            .gallery-item__find-out-more {
                left: 19%;
            }
        }
    }

     /* saba */
     figure:nth-of-type(2) {

        p {
            top: 6.5%;
            right: -26%;
        }

        .gallery-item__find-out-more {
            left: 19%;
            padding: 3% 10%;
            font-size: .7rem;
        }

        &:hover {
            p {
                top: 2.5%;
                right: -34%;
            }

            .gallery-item__find-out-more {
                left: 19%;
            }
        }
    }

     /* shae */
     figure:nth-of-type(3) {

        p {
            top: 3%;
            right: -22%;
        }

        .gallery-item__find-out-more {
            left: 19%;
            padding: 3% 10%;
            font-size: .7rem;
        }

        &:hover {
            p {
                top: -1%;
                right: -29%;
            }

            .gallery-item__find-out-more {
                left: 19%;
            }
        }
    }
   
    /* skylah */
     figure:nth-of-type(4) {

        p {
            top: 3.5%;
            right: -22%;
        }

        .gallery-item__find-out-more {
            left: 19%;
            padding: 3% 10%;
            font-size: .7rem;
        }

        &:hover {
            p {
                top: 1%;
                right: -29%;
            }

            .gallery-item__find-out-more {
                left: 19%;
            }
        }
    }
  
    /* griff */
     figure:nth-of-type(5) {

        p {
            top: 4%;
            right: -22%;
        }

        .gallery-item__find-out-more {
            left: 19%;
            padding: 3% 10%;
            font-size: .7rem;
        }

        &:hover {
            p {
                top: 1%;
                right: -29%;
            }

            .gallery-item__find-out-more {
                left: 19%;
            }
        }
    }
  
    /* stan */
     figure:nth-of-type(6) {

        p {
            top: 3%;
            right: -22%;
        }

        .gallery-item__find-out-more {
            left: 19%;
            padding: 3% 10%;
            font-size: .7rem;
        }

        &:hover {
            p {
                top: 1%;
                right: -29%;
            }

            .gallery-item__find-out-more {
                left: 19%;
            }
        }
    }
}
}
 

@media screen and (min-width: 1536px) {
    .gallery-item__container {
        &--image {
            height: 26rem;
            width: 17rem;
            object-fit: cover;
        }
    }

    .gallery__grid-container {
        margin-left: 13rem;

           /* bill */
        figure:nth-of-type(1) {
            .gallery-item__find-out-more {
                left: 24%;
            }
            
            &:hover {
                .gallery-item__find-out-more {
                    left: 24%;
                }
            }
        }
         
            /* saba */
        figure:nth-of-type(2) {
            .gallery-item__find-out-more {
                left: 24%;
            }
            
            &:hover {
                .gallery-item__find-out-more {
                    left: 24%;
                    top: 37%;
                }
            }
        }
        
            /* shae */
        figure:nth-of-type(3) {
            .gallery-item__find-out-more {
                left: 24%;
            }
            
            &:hover {
                .gallery-item__find-out-more {
                    left: 24%;
                }
            }
        }
        
            /* skylah */
        figure:nth-of-type(4) {
            .gallery-item__find-out-more {
                left: 24%;
            }
            
            &:hover {
                .gallery-item__find-out-more {
                    left: 24%;
                    top: 30%;
                }
            }
        }
    }
}




