.gallery__grid-container {
    display: grid;
}

.gallery-item__container {
    position: relative;
    width: fit-content;
}

.gallery-item__container--image {
    height: 12rem;
    width: 7rem;
    object-fit: cover;
}

/* shared styles */
.gallery-item__container--job-title:nth-of-type(1) {
    position: absolute;
    top: 4.2%;
    transform: rotate(90deg);
}

/* bill */
.gallery__grid-container figure:nth-of-type(1) p {
    position: absolute;
    top: 13%;
    right: -43%;
}

/* saba */
.gallery__grid-container figure:nth-of-type(2) p {
    position: absolute;
    top: 9%;
    right: -37%;
}

/* shae */
.gallery__grid-container figure:nth-of-type(3) p  {
    position: absolute;
    top: 5%;
    right: -29%;
}

/* skylah */
.gallery__grid-container figure:nth-of-type(4) p {
    position: absolute; 
    top: 7%;
    right: -33%;
}

/* griff */
.gallery__grid-container figure:nth-of-type(5) p {
    top: 5%;
    right: -30%;
}

/* stan */
.gallery__grid-container figure:nth-of-type(6) p {
    top: 5%;
    right: -30%;
}



