@import "../utilities/variables";

h1 {
    font-family: $ptserif;
    font-weight: 700;
}

h2 {
    font-family: $poppins;
    font-weight: 700;
    margin-bottom: -.2rem;
}

header p {
    font-family: $poppins;
    font-weight: 400;
    padding-right: 3.4rem;
    margin-bottom: 3rem;
    font-size: .84rem;
}

.gallery-item__container--name {
    font-family: $poppins;
    font-weight: 600;
    font-size: .7rem;
}

.gallery-item__container--job-title {
    font-family: $ptserif;
    font-weight: 100;
    font-size: .6rem;
    text-transform: uppercase;
}