@import "../utilities/variables";

h1 {
    font-family: $ptserif;
}

h2 {
    font-family: $poppins;
    font-weight: 700;
}

p {
    font-family: $poppins;
}

.gallery-item__container--name {
    font-family: $poppins;
    font-weight: 600;
}

.gallery-item__container--job-title {
    font-family: $ptserif;
    font-weight: 100;
}